.letter-tabs {
  position: relative;

  & .letter-tab {
    display: none;

    &:not(:checked) + .letter-tab-text:hover {
      color: @tab-active-color;
      cursor: pointer;
    }

    &:checked {
      
      & + .letter-tab-text {
        background-color: @tab-active-bg-color;
        color: @tab-active-color;
      }

      & ~ .letter-tab-content > .well {
        display: none;
      }
    }

    &:nth-of-type(1):checked ~ .letter-tab-content > .well:nth-of-type(1) {
      display: block;
    }

    &:nth-of-type(2):checked ~ .letter-tab-content > .well:nth-of-type(2) {
      display: block;
    }
  }

  & > .letter-tab-text {
    position: relative;
    display: inline-block;
    padding: 5px 15px;
    background-color: @tab-bg-color;
    color: @tab-color;
    border-top-left-radius: 7px;
    border-top-right-radius: 7px;
    margin-right: 9px;
  }

  & .letter-tab-content { 
    min-height: 220px;

    & > .well {
      position: absolute;
      display: block;
      width: 100%;
      padding: 6px 15px;
      margin-left: (-@left-padding);
      background-color: @tab-content-bg-color;
      border-radius: 7px;
    }
  }
}

// IE 8
.ie8 .letter-tabs {

  & .letter-tab {

    & + .letter-tab-text {
      background-color: @tab-bg-color;
      color: @tab-color;

      &:hover {
        color: @tab-active-color;
        cursor: pointer;
      }
    }

    &.checked {

      & + .letter-tab-text:hover {
        cursor: default;
      }
      
      & + .letter-tab-text {
        background-color: @tab-active-bg-color;
        color: @tab-active-color;
      }

      & ~ div.letter-tab-content > div.well:nth-of-type(n) {
        display: none;
      }
    }

    &:nth-of-type(1).checked ~ .letter-tab-content > .well:nth-of-type(1) {
      display: block;
    }

    &:nth-of-type(2).checked ~ .letter-tab-content > .well:nth-of-type(2) {
      display: block;
    }
  }
}